:root {
  --color-green: #75a76c;
  --color-lavender: #f7dcff;
  --color-pink: #ffe0dc;
  --color-darkpink: #ff8fab;
  --color-darkpurple: #9a77a4;
}

#image3 {
  width: 250px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background-color: var(--color-darkpink);
}
#logo {
  width: 200px;
  margin-left: 20px;
}
#title-name {
  font-size: 80px;
  color: var(--color-darkpurple);
  font-family: "Rage Italic", sans-serif;
}
#navigation {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: var(--color-darkpurple);
  margin-right: 20px;
}

body {
  background-color: var(--color-lavender);
  color: #bfbff5;
}
h1 {
  margin-top: 50px;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-family: "playball", sans-serif;
  font-size: 60px;
  color: var(--color-darkpurple);
  margin: bottom 10px;
}
.section-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap:wrap; */
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.section-text-container {
  /* flex: 0 0 calc(100% - 350px); */
  max-width: calc(80% - 300px);
  flex-wrap: wrap;
  color: #9a77a4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
}
@media (max-width: 768px) {
  .section-container {
    flex-direction: column;
    align-items:center;
    min-width: 300px;
  }

  .section-text-container {
    /* flex: 0 0 calc(100% - 350px); */
    max-width: 80%;
    min-width: 250px;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
    flex-wrap: wrap;
    color: #9a77a4;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 25px; */
    text-align: center;
  }
}

.picture-text-combo {
  /* flex: 0 0 calc(100% - 200px); */
  /* max-width: 90%; */
  color: #9a77a4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 15px;
  /* vertical-align: center; */
  /* align-items: center; */
  /* justify-content:space-around; */
  text-align: center;
}
.productContainer {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* width:150px; */
  height: 50px;
  border-width: 3px;
  border-color: #000;
  border-style: solid;
  margin: 10px;
}

.text {
  width: 300px;
  padding: 20px;
  text-align: center;
  color: #c0c0c0;
}

img {
  border-color: #000;
  border-width: 4px;
}

#current-promotions {
  background-color: var(--color-darkpink);
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: var(--color-darkpink);
  height: 150px;
}
#social-link {
  height: 50px;
  margin: 20px;
}

#hiddenLink {
  a:link {
    color: #bfbff5;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #bfbff5;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #bfbff5;
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color: #bfbff5;
    background-color: transparent;
    text-decoration: none;
  }
}
